services:
  api:
    build:
      context: ..
      dockerfile: docker/Dockerfile.simple
    environment:
      - RAY_BACKEND=log
      - ENVIRONMENT=DEV
      - GPU_AVAILABLE=false
    working_dir: /app
    command: uvicorn api.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    volumes:
        - ../api:/app/api
        - ../pipeline:/app/pipeline
        - batch_storage:/tmp
volumes:
  batch_storage:
    driver: local