server:
  http_listen_port: 9080
  grpc_listen_port: 0

clients:
  - url: http://loki:3100/loki/api/v1/push

positions:
  filename: /tmp/positions.yaml

scrape_configs:
- job_name: ray-batch-inference
  static_configs:
  - targets:
      - localhost
    labels:
      job: ray-batch-inference
      __path__: /var/log/*.log

- job_name: docker-containers
  static_configs:
  - targets:
      - localhost
    labels:
      job: docker-containers
      __path__: /var/lib/docker/containers/*/*.log